body{
    background-color:#fafa;
    margin: 0;
}
#header{
    height: 64px;
    background-color:#fafa;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 4px 0px, rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
    padding-left: 16px;
    padding-right: 32px;
    color: #fafafa;
    display: flex;
    align-items: center;
}
.logo-header{
width: 30%;
float:left;


}
#imagen-principal{
    height: calc(100vh - 64px);
    background: silver;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
#imagen-principal .imagenfondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
   
}

.opciones-header{
width: 70%;
float: left;
display: flex;
justify-content: space-between;
}

.opciones-header span{
    cursor: pointer;
}
.centrado{
    position:absolute;  
}
.imagenccentrado{
    width: 200px;
}

.empujar{
    margin-bottom: 8px;
    text-align: center;
    color: aqua;
}
.paddingimput{
    padding-left: 16px;
    padding-right: 16px;
    width: 80%;
}
#redondo{
    background-color:fuchsia;
    border-radius: 50%;
    display:scroll;
        position:fixed;
        bottom:20px;
        right:10px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        
}
#variosprincipal{
    width: 100%;
    background-color: aqua;
    display: inline-block;
    justify-content: center;
    align-items: center;

    

}

#varios{
    width: 100%;
    height:auto;
    position:relative;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    }
    .contenedor_imagen_texto{
    width: 33%;;
    height:auto;
    position:relative;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    text-align: center;
    }
    .imagen, .texto{
    width:100%;
    height:auto;
    position:relative;
    display:inline;
    }
    .texto{
        height:auto;
        text-align:center
        }
        .contenedor_imagen_texto2{
            width: 50%;
            height:auto;
            position:relative;
            display:inline-block;
            vertical-align:top;
            overflow:hidden;
            text-align: center;
            }
#servicios{
    background-color: darkkhaki;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.servicios1{
  
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
}


label{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px
}
.testoservicio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}